RewriteEngine On
RewriteBase /

# Redirect to HTTPS
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{SERVER_NAME}/$1 [R=301,L]

# Redict / to /checkpoints
RewriteRule ^$ /checkpoints [R=302,L]
RewriteRule ^index(.html)?$ /checkpoints [R=302,NC,L]

# Remove .html extension
RewriteCond %{THE_REQUEST} \s/([^.]+)\.html [NC]
RewriteRule ^ /%1 [R=302,L]

# Rewrite pages
RewriteCond %{DOCUMENT_ROOT}/$1.html -f
RewriteRule ^([^./]+)/?$ $1.html [L]